1.read the data with pandas and find features and target variables

In [ ]:
import pandas as pd

In [ ]:
d = pd.read_csv('/content/train.csv')
print(d)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [ ]:
y = d['price_range']
print(y)

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [ ]:
x=d.drop('price_range',axis=1)
print(x)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]

In [ ]:
df=x-x.min()/x.max()-x.min()
print(df)

      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
0        340.749249   0.0     1.533333       0.0   1.0     0.0     4.96875
1        519.749249   1.0    -0.166667       1.0   0.0     1.0    50.96875
2         61.749249   1.0    -0.166667       1.0   2.0     1.0    38.96875
3        113.749249   1.0     1.833333       0.0   0.0     0.0     7.96875
4       1319.749249   1.0     0.533333       0.0  13.0     1.0    41.96875
...             ...   ...          ...       ...   ...     ...         ...
1995     292.749249   1.0    -0.166667       1.0   0.0     1.0    -0.03125
1996    1463.749249   1.0     1.933333       1.0   0.0     0.0    36.96875
1997    1409.749249   0.0     0.233333       1.0   1.0     1.0    33.96875
1998    1010.749249   0.0     0.233333       0.0   4.0     1.0    43.96875
1999       8.749249   1.0     1.333333       1.0   5.0     1.0    42.96875

      m_dep  mobile_wt  n_cores    pc  px_height    px_width          ram  \
0       0.4      107.6    0.875   2.0       20.0   255.74975  2292.935968
1       0.5       55.6    1.875   6.0      905.0  1487.74975  2374.935968
2       0.7       64.6    3.875   6.0     1263.0  1215.74975  2346.935968
3       0.6       50.6    4.875   9.0     1216.0  1285.74975  2512.935968
4       0.4       60.6    0.875  14.0     1208.0   711.74975  1154.935968
...     ...        ...      ...   ...        ...         ...          ...
1995    0.6       25.6    4.875  14.0     1222.0  1389.74975   411.935968
1996    0.0      106.6    2.875   3.0      915.0  1464.74975  1775.935968
1997    0.5       27.6    6.875   3.0      868.0  1131.74975  2800.935968
1998   -0.1       64.6    3.875   5.0      336.0   169.74975   612.935968
1999    0.7       87.6    4.875  16.0      483.0   253.74975  3662.935968

           sc_h  sc_w  talk_time  three_g  touch_screen  wifi
0      3.736842   7.0       16.9      0.0           0.0   1.0
1     11.736842   3.0        4.9      1.0           1.0   0.0
2      5.736842   2.0        6.9      1.0           1.0   0.0
3     10.736842   8.0        8.9      1.0           0.0   0.0
4      2.736842   2.0       12.9      1.0           1.0   0.0
...         ...   ...        ...      ...           ...   ...
1995   7.736842   4.0       16.9      1.0           1.0   0.0
1996   5.736842  10.0       13.9      1.0           1.0   1.0
1997   3.736842   1.0        2.9      1.0           1.0   0.0
1998  12.736842  10.0       16.9      1.0           1.0   1.0
1999  13.736842   4.0       -0.1      1.0           1.0   1.0

[2000 rows x 20 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(df,y,test_size=0.2,random_state=60)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

      battery_power  blue  clock_speed  dual_sim   fc  four_g  int_memory  \
232     1213.749249   0.0     0.333333       1.0  4.0     1.0    28.96875
1211     211.749249   1.0     0.933333       0.0  7.0     1.0    -0.03125
1352     296.749249   1.0    -0.166667       1.0  7.0     0.0    -0.03125
1721     672.749249   1.0     0.233333       0.0  7.0     0.0    27.96875
1492     628.749249   1.0    -0.166667       1.0  1.0     1.0    26.96875
...             ...   ...          ...       ...  ...     ...         ...
399     1366.749249   0.0     1.333333       1.0  0.0     1.0    39.96875
1418     406.749249   0.0     1.433333       0.0  1.0     0.0    41.96875
1606      55.749249   0.0    -0.166667       1.0  3.0     0.0    14.96875
1089     103.749249   0.0     0.833333       0.0  9.0     1.0    15.96875
205      263.749249   0.0    -0.166667       1.0  0.0     1.0    44.96875

      m_dep  mobile_wt  n_cores    pc  px_height    px_width          ram  \
232     0.3        2.6    6.875  17.0      638.0  1114.74975   368.935968
1211    0.2      100.6    6.875   9.0     1211.0   877.74975   228.935968
1352    0.6       67.6    0.875  15.0      497.0   126.74975  3336.935968
1721    0.8       66.6    2.875  20.0      744.0   743.74975   547.935968
1492    0.5       49.6   -0.125  14.0      593.0   826.74975   175.935968
...     ...        ...      ...   ...        ...         ...          ...
399     0.0       88.6   -0.125   4.0      347.0   159.74975  2874.935968
1418    0.4       14.6    3.875   2.0      154.0   440.74975  3261.935968
1606    0.0        8.6    4.875   4.0      322.0   209.74975  2366.935968
1089    0.7       81.6    0.875  14.0      329.0   155.74975  2044.935968
205     0.1       34.6    6.875   1.0     1277.0   928.74975  1986.935968

           sc_h  sc_w  talk_time  three_g  touch_screen  wifi
232   11.736842   6.0       10.9      1.0           0.0   0.0
1211   4.736842   6.0        1.9      1.0           1.0   1.0
1352   8.736842   9.0        0.9      0.0           1.0   0.0
1721  11.736842  14.0       13.9      0.0           1.0   1.0
1492   0.736842   1.0        7.9      1.0           1.0   1.0
...         ...   ...        ...      ...           ...   ...
399    2.736842   3.0        4.9      1.0           1.0   1.0
1418  10.736842  12.0        4.9      1.0           1.0   1.0
1606  11.736842  16.0       13.9      0.0           0.0   0.0
1089   9.736842   9.0        5.9      1.0           0.0   0.0
205    5.736842   7.0        1.9      1.0           0.0   1.0

[1600 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
768      647.749249   1.0     1.533333       0.0   4.0     0.0    27.96875
313      143.749249   0.0     0.533333       0.0   6.0     1.0    38.96875
858     1376.749249   1.0    -0.166667       0.0   9.0     0.0    26.96875
1299     369.749249   0.0    -0.066667       0.0   2.0     0.0    49.96875
1438     413.749249   0.0     1.333333       0.0   8.0     1.0    28.96875
...             ...   ...          ...       ...   ...     ...         ...
1276      84.749249   0.0     0.733333       1.0  10.0     1.0     5.96875
1353     934.749249   0.0     1.833333       1.0   0.0     1.0    39.96875
470      250.749249   0.0    -0.166667       1.0   1.0     0.0    45.96875
1586      44.749249   1.0     1.933333       1.0   5.0     0.0    23.96875
133      166.749249   0.0     2.233333       1.0   7.0     0.0    27.96875

      m_dep  mobile_wt  n_cores    pc  px_height    px_width          ram  \
768     0.0       25.6    4.875   5.0     1617.0  1174.74975  3498.935968
313     0.5      103.6    6.875  17.0      741.0   629.74975   457.935968
858     0.4        4.6    6.875  19.0      210.0   525.74975  1077.935968
1299   -0.1       97.6    1.875   3.0      194.0   936.74975   180.935968
1438    0.1       10.6    1.875  20.0      875.0   815.74975   121.935968
...     ...        ...      ...   ...        ...         ...          ...
1276    0.3       61.6    6.875  14.0      116.0    97.74975  2921.935968
1353    0.7       43.6    6.875   1.0     1826.0  1335.74975  2479.935968
470     0.5        6.6    5.875  13.0      164.0   227.74975  3603.935968
1586    0.8       78.6    3.875  15.0      416.0  1157.74975  1293.935968
133     0.0      114.6    6.875  12.0      522.0   555.74975  2142.935968

           sc_h  sc_w  talk_time  three_g  touch_screen  wifi
768   11.736842  14.0        5.9      1.0           0.0   0.0
313   12.736842   2.0       10.9      1.0           1.0   0.0
858   12.736842   7.0       -0.1      0.0           0.0   0.0
1299   8.736842   7.0       14.9      1.0           0.0   0.0
1438   5.736842   6.0        6.9      1.0           1.0   0.0
...         ...   ...        ...      ...           ...   ...
1276   3.736842   7.0        7.9      1.0           0.0   1.0
1353   6.736842   5.0       16.9      1.0           1.0   0.0
470    1.736842   5.0       13.9      0.0           0.0   0.0
1586   1.736842   2.0        0.9      0.0           1.0   0.0
133    4.736842   5.0        4.9      1.0           1.0   1.0

[400 rows x 20 columns]
232     0
1211    0
1352    2
1721    0
1492    0
       ..
399     3
1418    3
1606    1
1089    1
205     2
Name: price_range, Length: 1600, dtype: int64
768     3
313     0
858     1
1299    0
1438    0
       ..
1276    2
1353    3
470     3
1586    1
133     1
Name: price_range, Length: 400, dtype: int64

2 question

In [ ]:
d = pd.read_csv('/content/sample_data/california_housing_train.csv')
print(d)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
d.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [ ]:
d.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

In [ ]:
d.shape

(17000, 9)

In [ ]:
y = d['median_house_value']
print(y)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64

In [ ]:
x = d.drop('median_house_value',axis=1)
print(x)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [ ]:
d.isnull().sum()
d.fillna(0, inplace=True)

In [ ]:
df = x-x.min()/x.max()-x.min()
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       8.952169  0.874315           13.980769  5609.999947     1281.999845
1       8.792169  1.084315           17.980769  7647.999947     1899.999845
2       8.702169  0.374315           15.980769   717.999947      172.999845
3       8.692169  0.324315           12.980769  1498.999947      335.999845
4       8.692169  0.254315           18.980769  1451.999947      324.999845
...          ...       ...                 ...          ...             ...
16995  -0.997831  7.264315           50.980769  2214.999947      392.999845
16996  -1.007831  7.374315           34.980769  2346.999947      526.999845
16997  -1.037831  8.524315           15.980769  2674.999947      529.999845
16998  -1.037831  8.484315           17.980769  2669.999947      550.999845
16999  -1.087831  7.224315           50.980769  1817.999947      298.999845

        population  households  median_income
0      1011.999916  470.999836       0.960374
1      1125.999916  461.999836       1.286774
2       329.999916  115.999836       1.117674
3       511.999916  224.999836       2.658474
4       620.999916  260.999836       1.391774
...            ...         ...            ...
16995   903.999916  367.999836       1.823874
16996  1190.999916  463.999836       1.984674
16997  1240.999916  454.999836       2.498074
16998  1294.999916  476.999836       1.446474
16999   802.999916  268.999836       2.481474

[17000 rows x 8 columns]

In [ ]:
xtrain,xtest,ytrain,ytest = train_test_split(df,y,test_size=0.2,random_state=60)
print(xtrain)
print(xtest)
print(ytrain)
print(ytest)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
11892   1.902169  5.324315           22.980769  6537.999947     1006.999845
11932   1.892169  5.324315           25.980769  1669.999947      297.999845
5300    5.122169  0.544315           34.980769  1771.999947      346.999845
949     6.172169 -0.525685           34.980769  1526.999947      264.999845
699     6.212169 -0.345685           15.980769  9908.999947     1434.999845
...          ...       ...                 ...          ...             ...
10339   3.162169  5.594315           31.980769  1558.999947      280.999845
6543    4.992169  0.464315           19.980769  3351.999947     1172.999845
11846   1.922169  5.264315           16.980769  1628.999947      226.999845
3137    5.432169  0.514315           21.980769  2772.999947      545.999845
2253    5.852169  0.644315           30.980769  2834.999947      615.999845

        population   households  median_income
11892  2663.999916  1029.999836       5.029974
11932   753.999916   280.999836       3.145374
5300    930.999916   331.999836       4.323874
949     679.999916   258.999836       3.564974
699    4759.999916  1412.999836       5.054974
...            ...          ...            ...
10339    26.999916     9.999836       1.341774
6543   4422.999916  1108.999836       1.992974
11846   595.999916   226.999836       7.269874
3137   1222.999916   508.999836       3.137474
2253   1389.999916   593.999836       1.846574

[13600 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
3520    5.362169  0.424315           22.980769  1432.999947      492.999845
13269   1.352169  3.924315           22.980769  5043.999947      999.999845
14783   1.062169  4.434315           34.980769   603.999947      130.999845
5700    5.072169  1.334315           31.980769  1778.999947      324.999845
7662    4.892169  0.584315           30.980769   329.999947      101.999845
...          ...       ...                 ...          ...             ...
2521    5.622169  0.794315           14.980769  2126.999947      418.999845
7269    4.922169  0.764315           50.980769  1427.999947      184.999845
357     6.352169 -0.445685           12.980769  3045.999947      595.999845
7745    4.882169  0.564315           31.980769  1310.999947      242.999845
3762    5.332169  0.354315           25.980769  3509.999947      470.999845

        population  households  median_income
3520   3167.999916  502.999836       2.550074
13269  2445.999916  966.999836       4.178574
14783   527.999916  131.999836       1.047674
5700    909.999916  312.999836       3.463074
7662    173.999916  100.999836       2.807674
...            ...         ...            ...
2521    928.999916  377.999836       2.053574
7269    543.999916  176.999836       9.832874
357    1686.999916  574.999836       3.848574
7745    557.999916  215.999836       4.766674
3762   1387.999916  479.999836       7.566874

[3400 rows x 8 columns]
11892    175200.0
11932    159700.0
5300     203300.0
949      171200.0
699      194300.0
           ...
10339    500001.0
6543     167300.0
11846    267200.0
3137     231400.0
2253     118800.0
Name: median_house_value, Length: 13600, dtype: float64
3520     151700.0
13269    274600.0
14783     70000.0
5700     126800.0
7662     256300.0
           ...
2521     146900.0
7269     500001.0
357      147100.0
7745     359400.0
3762     336500.0
Name: median_house_value, Length: 3400, dtype: float64